*.pt
*.mp4
*.zip
Aprendizajenosupervisado5_3/stanford_dogs/
Examen2/Gatosyperros
Aprendizajenosupervisado/5_5/car_plates/
Aprendizajenosupervisado/5_5/Car Parts.v1i.sam2
Aprendizajenosupervisado/5_5/sam2
Aprendizajenosupervisado/5_5/Car Parts.v1i.sam2
Aprendizajenosupervisado/5_5/runs
Aprendizajenosupervisado/5_5/predicciones
Aprendizajenosupervisado/5_5/Car-Parts-1
Aprendizajenosupervisado/5_5/Car-Parts-1